/*!
 * Created with PHPStorm
 * Date: 31/7/2019
 * Time: 11:2
 * Author: S. Carpentier
 * Mail: sebastien.carpentier89@gmail.com
 */

@import 'signin.scss';
@import 'signup.scss';
@import 'search.scss';
@import "show.scss";
@import 'moderate.scss';
@import 'create.scss';
@import 'profil.scss';

nav{
  background-color: #FFD858;
  box-shadow: 0px 5px 10px lightgrey;
  margin-bottom: 40px;
}

.head-row{
  align-items: center;
  .presentation{
    margin-left: 0;
  }
  .signup-image {
    margin-top: 20px;
    img{
      border-radius: 50%;
      box-shadow: 5px 5px 10px grey;
    }
  }
  .carousel-item {
    height: 500px;
  }
}

.call-container{
  background-color: lightgrey;
  margin-top: 30px;
  .call-action{
    align-items: center;
    img{
      margin-top: 20px;
      margin-bottom: 20px;
      height: 300px;
      width: 500px;
      box-shadow: 5px 5px 10px grey;
    }
  }
}

footer{
  background-color: #FFD858;
  .footer-row{
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }
}