/*!
 * Created with PHPStorm
 * Date: 31/7/2019
 * Time: 11:2
 * Author: S. Carpentier
 * Mail: sebastien.carpentier89@gmail.com
 */

.profil_layout{
  h1{
    margin-bottom: 30px;
  }
  h4{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .favorite-section{
    margin-bottom: 40px;
  }
  .card-text{
    max-height: 25px;
    overflow: hidden;
  }
}

.btn-profil{
  margin-top: 30px;
}

@media screen and (min-width: 640px) {
  .profil_layout{
    .card{
      height: 140px;
    }
    img{
      height: 140px;
    }
  }
}