/*!
 * Created with PHPStorm
 * Date: 6/8/2019
 * Time: 0:15
 * Author: S. Carpentier
 * Mail: sebastien.carpentier89@gmail.com
 */

.search-content{
  h1, h2{
    text-align: center;
  }
  .card{
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px grey;
  }
  .card-body{
    height: 200px;
  }
  img{
    height: 200px;
  }
  #search_by_ingredient_ingredient1{
    margin-bottom: 20px;
  }
  .by-ingredient-submit{
    margin-bottom: 20px;
  }
  label{
    margin-top: 10px;
  }
}
.search-button{
  margin-top: 30px;
  margin-bottom: 20px;
}