{% extends 'recipe/_base_recipe.hml.twig' %}

{% block page %}
    <div class="row validation">
        <h4 class="col-md-12">Cette recette est-elle valide ?</h4>
        <button class="btn btn-success col-md-2 offset-md-1">oui</button>
        <button class="btn btn-primary col-md-2 offset-md-1">passer</button>
        <button class="btn btn-danger col-md-2 offset-md-1">non</button>
    </div>
{% endblock %}