{% extends 'recipe/_base_recipe.hml.twig' %}

{% block page %}
    <div class="row validation">
        <h4 class="col-md-12">Cette recette est-elle valide ?</h4>
        {{ form_start(form) }}
        {{ form_widget(form.validate) }}
        <button class="btn btn-success col-md-12">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}